<html>
<head>
  <meta charset="UTF-8">
  <title>Restaurant <%= @restaurant.name %></title>
</head>
<body>
  <h1>Restaurant <%= @restaurant.name %> details</h1>
  <ul>
    <li><%= @restaurant.capacity %></li>
    <li><%= @restaurant.address %></li>
  </ul>
  <a href="/">Back</a>
</body>
</html>
